<form id="new_category" action="/categories" method="post" role='form'>
  <fieldset>
    <legend>New Category</legend>
    <div class="form-group">
      <label for="name" class="control-label">Category Name</label>
      <input type="text" name="name" id="name" class="form-control" placeholder="Category Name" />
    </div>
    <br>
    <button class="btn btn-primary submit">Submit</button>
    <button class="btn btn-default discard">Discard</button>
  </fieldset>
</form>
